<div class="card">
    <div class="col-md-12">
      <form [formGroup]='datePickerForm'>
        <div class="row">
          <div class='col-md-3'>
            <mat-form-field class="example-full-width" appearance='outline'>
              <mat-label>Desde</mat-label>
              <input matInput  [matDatepicker]="pickerSince" formControlName="since">
              <mat-datepicker-toggle matSuffix [for]="pickerSince"></mat-datepicker-toggle>
              <mat-datepicker #pickerSince></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width" appearance='outline'>
              <mat-label>Hasta</mat-label>
              <input matInput [matDatepicker]="pickerTo" formControlName="to">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="example-full-width" appearance='outline'>
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="mod" multiple>
                <mat-option *ngFor="let mod of mods" [value]="mod.id"><small>{{mod.name}}</small>
                  <i class="material-icons" [style]='{"color":mod.color}' style="float: right;margin-top: -34px;">add_circle</i>
                </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="example-full-width" appearance='outline'>
              <mat-label>Horario</mat-label>
              <mat-select formControlName="time">
                <mat-option value='1'>Todos</mat-option>
                <mat-option value='2'>Mañana</mat-option>
                <mat-option value='3'>Tarde</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-label>#Posibles</mat-label>

          </div>
        </div>
      </form>
    </div>
          <div class="">
            <table class="cinereousTable ">
              <thead role="rowgroup">
                  <tr class="mat-header-row" role="row">
                    <th *ngFor='let column of displayedColumns' class="mat-header-cell" role="columnheader" style="border: 1px;">{{column}}</th>
                  </tr>
              </thead>
              <tbody role="rowgroup">
                  <tr *ngFor='let row of [0,1,2,3,4,5,6]' style="height: 100px;">
                      <td *ngFor='let cell of [0,2,4,6,8,10,12]' class="mat-cell" style="text-align: center">
                          <div class="row">
                            <div class="col-md-4">
                              {{pick3a.default[row*6+cell]['date'][3]}}{{pick3a.default[row*6+cell]['date'][4]}}
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  {{pick3a.default[row*6+cell][0]}}
                              </div>
                              <div class="col-md-4">
                                  {{pick3a.default[row*6+cell][1]}}
                              </div>
                              <div class="col-md-4">
                                  {{pick3a.default[row*6+cell][2]}}
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{pick3a.default[row*6+cell+1][0]}}
                                </div>
                                <div class="col-md-4">
                                    {{pick3a.default[row*6+cell+1][1]}}
                                </div>
                                <div class="col-md-4">
                                    {{pick3a.default[row*6+cell+1][2]}}
                                </div>
                              </div>


                              <div class="row">
                                  <div class="col-md-3">
                                      {{pick4a.default[row*6+cell][0]}}
                                  </div>
                                  <div class="col-md-3">
                                      {{pick4a.default[row*6+cell][1]}}
                                  </div>
                                  <div class="col-md-3">
                                      {{pick4a.default[row*6+cell][2]}}
                                  </div>
                                  <div class="col-md-3">
                                      {{pick4a.default[row*6+cell][3]}}
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        {{pick4a.default[row*6+cell+1][0]}}
                                    </div>
                                    <div class="col-md-3">
                                        {{pick4a.default[row*6+cell+1][1]}}
                                    </div>
                                    <div class="col-md-3">
                                        {{pick4a.default[row*6+cell+1][2]}}
                                    </div>
                                    <div class="col-md-3">
                                        {{pick4a.default[row*6+cell+1][3]}}
                                    </div>
                                  </div>

                      </td>
                  </tr>
              </tbody>
            </table>        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
</div>